@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/30fa2843-b981-4e76-9050-4fc9e886377d/da13wjf-d555e611-5020-4c04-b5f7-a4a3917846fd.jpg/v1/fill/w_800,h_480,q_75,strp/stings_first_by_n0rb3rt_da13wjf-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD00ODAiLCJwYXRoIjoiXC9mXC8zMGZhMjg0My1iOTgxLTRlNzYtOTA1MC00ZmM5ZTg4NjM3N2RcL2RhMTN3amYtZDU1NWU2MTEtNTAyMC00YzA0LWI1ZjctYTRhMzkxNzg0NmZkLmpwZyIsIndpZHRoIjoiPD04MDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.5aj7T71oXHMNm58sSKKOX9g-E7HoCEfbxvqgO8zNnwo');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  min-height: 100%;
  font-family: 'Lexend Giga', sans-serif;
}

h1 {
  text-transform: uppercase;
  border-color: black;
  margin-bottom: 20px;
}

main {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  margin-top: 20px !important;
  flex-direction: row;
}

.avatar {
  max-width: 100px;
  border-radius: 50%;
  overflow: hidden !important;
  border: 5px solid #5e5e5e !important;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #ffffff46, #ffffff1e);
}

.btn {
  margin-top: 20px;
  min-width: 300px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: 200ms;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #ffffff46, #ffffff1e);
}

.btn:hover {
  background: rgba(156, 154, 154, 0.904);
  color: #5e5e5e;
  backdrop-filter: blur(5px);
  transition: ease-in 200ms;
}

.icons {
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .btn {
    min-width: 90%;
  }
}