* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background-image: url('../img/Strings3.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  min-height: 100%;
  font-family: 'Lexend Giga', sans-serif;
}

h1 {
  text-transform: uppercase;
  border-color: black;
  margin-bottom: 20px;
}

main {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  margin-top: 20px !important;
  flex-direction: row;
}

.avatar {
    width:150px;
    margin: 10px;
    border:5px solid #ffffffa9;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
.name {
  color: aliceblue;
  padding-top: 10px;
}
.btn {
  margin-top: 20px;
  min-width: 300px;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: 200ms;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #ffffffa9, #ffffff1e);
}

.btn:hover {
  background: rgba(219, 219, 219, 0.904);
  color: #141414;
  backdrop-filter: blur(5px);
  transition: ease-in 200ms;
}

.icons {
  color: white;
  padding: 20px;
  font-size: 1.5rem;
  transition: ease-in 200ms;
}
.icons:hover {
  color: #dbdbdb;
  transition: ease-in 200ms;
}
@media only screen and (max-width: 600px) {
  .btn {
    min-width: 90%;
  }
}
